<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div id="nav-left">
        <div class="top">
            <h1>locol</h1>

            <div class="menu">
                <div class="top-menu-icon">
                    <div class="icon"><img src="../img/home-icon.svg" alt="home-icon"></div>
                    <p>Dashboard</p>
                </div>

                <div class="top-menu-icon">
                    <div class="icon"><img src="../img/paper-icon.svg" alt="paper-icon"></div>
                    <p>Orders</p>
                </div>

                <div class="top-menu-icon">
                    <div class="icon"><img src="../img/Shopping-basket-icon.svg" alt="home-icon"></div>
                    <p>Product</p>
                </div>

                <div class="top-menu-icon">
                    <div class="icon"><img src="../img/customer-icon.svg" alt="home-icon"></div>
                    <p>Customer</p>
                </div>

                <div class="top-menu-icon">
                    <div class="icon"><img src="../img/chart-icon.svg" alt="home-icon"></div>
                    <p>Analytics</p>
                </div>
            </div>
        </div>

        <div class="btm">
            <div class="icon">
                <img src="../img/Logout-icon.svg" alt="Logout-icon">
            </div>
            
            <a href="../login/logout.php"><p>Log out</p></a>
        </div>
    </div>
</body>
</html>